{% extends 'justice/base.html' %}

{% block content %}
<h1>Caseworker Dashboard</h1>
<h2>High Risk Young Persons</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Postcode</th>
        <th>Total Offences</th>
        <th>Actions</th>
    </tr>
    {% for person in youngpeople %}
    <tr>
        <td>{{ person.first_name }} {{ person.last_name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.postcode }}</td>
        <td>{{ person.offences.count }}</td>
        <td>
            <a href="{% url 'justice:youngperson-detail' person.pk %}">View</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No high risk persons found.</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'justice:youngperson-list' %}" class="btn">View All Persons</a>
<a href="{% url 'justice:youngperson-create' %}" class="btn">Add New Person</a>
{% endblock %}
